[Desktop Entry]
Name=Welcome
Comment=Change common settings on first-run
Exec=io.playnux.welcome
Icon=io.playnux.welcome
OnlyShowIn=Pantheon;
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;System;
